@font-face {
    font-family: 'calibre medium';
    src: url("../fonts/CalibreMedium.otf") format("opentype");
}

@font-face {
    font-family: 'calibre r';
    src: url("../fonts/regularcal.otf") format("opentype");
}

@font-face {
    font-family: 'sf light';
    src: url("../fonts/SF-Mono-Font-master/SFMono-Light.otf") format("opentype");
}


.about_grid {
    max-width: 1300px;
    display: grid;
    grid-template-columns: minmax(250px, 500px) minmax(250px, 500px);
    gap: 100px;
    padding-left: 150px;
    padding-right: 100px;
    margin-top: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 300px;
}

.about_right {
    position: relative;
    width: 100%;
    max-width: 450px;
    min-width: 200px;
    display: flex;
    align-items: center;
    margin-top: 55px;
    padding-right: 50px;
}

.header_line_container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.number_font {
    font-family: "sf light";
    font-size: 19px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: var(--lightest);
}

.about_left p {
    font-family: "calibre r";
    color: var(--medium);
    font-size: 20px;
    margin-top: 20px;
}


.image_container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.headshot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    object-fit: cover;
    border-radius: 5px;
    align-self: center;
    z-index: 1;
    box-shadow: -5px -7px 5px 0px rgba(0,0,0,0.10);

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(227, 166, 74, 0.0);
    border-radius: 5px;

    z-index: 3;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.underlay {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    border: solid rgba(227, 166, 74, 1);
    border-radius: 5px;
    z-index: 0;
    opacity: 1;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);

}

.overlay:hover{
    opacity: 0;
}

.about_left h2 {
    margin: 0;
    padding-right: 10px;
    font-family: "calibre medium";
    color: var(--lightest);
    font-size: 30px;
}

.skills {
    display: flex;
    gap: 90px;
    margin-top: 30px;
    list-style: none;
    margin-left: 40px;
}

.skills ul {
    list-style: square;
}


.skills ul li {
    margin-top: 8px;
    font-family: "sf light";
    font-size: 14px;
    color: var(--medium)
}

.about_right {
    margin-bottom: 100px;
}


.slide_in {
    transform: translateY(30px);
    opacity: 0;
}

.slide_in.visible {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}



@media (max-width: 790px) {
    .about_grid {
        max-width: 1300px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 0px;
        padding-left: 50px;
        padding-right: 50px;
        margin: 300px auto;
    }

    .about_right {
        justify-self: center;
    }

    .skills {
        margin-left: 30px;
    }

}

@media (max-width: 415px) {

    .about_grid {
        display: grid;
        margin-bottom: 0px;

        grid-template-rows: auto 600px;
    }

    .about_right {
        height: 60%;
        margin-top: 80px;

    }
}

